body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  background-color: #000000;
  color: #ffffff;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 10px;
  padding-top: 10px;
}

a:link, a:visited{
  color: #fff;
  background-color: #888888;
}

h1, h3 {
  text-align: center;
  font-weight: 700;
}

.responsive {
  width: 100%;
  height: auto;
}

.row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: scroll!important;
}

.card {
  /*float: left;*/
  max-width: 33.333%;
  padding: .75rem;
  border: 0;
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}

.card > img {
  margin-bottom: .75rem;
  width: 100%;
}

.card-text {
  font-size: 85%;
}
