body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  background-color: #000000;
  color: #ffffff;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 10px;
  padding-top: 10px;
}

a:link, a:visited {
  color: #fff!important;
  background-color: #333333!important;
}

h1, h3 {
  text-align: center;
  font-weight: 700;
}

.responsive {
  width: 100%;
  height: auto;
}

.row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: scroll!important;
}

.card {
  /*float: left;*/
  max-width: 33.333%;
  padding: .75rem;
  border: 0;
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}

.card > img {
  margin-bottom: .75rem;
  width: 100%;
}

.card-text {
  font-size: 85%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  
  color: #fff!important;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}